<%- include('../../partials/header') %>
<link rel="stylesheet" href="css/auth.css" />
  <section>
    <div class="container">
      <div class="user signinBx">
        <div class="formBx">
          <form method="post">
            <h2>Create an account</h2>
            <% if(messages.error){ %>
              <span class="alert-danger"> <%= messages.error %> </span>
              <% }else{%>
                <span class="alert-success"> <%= messages.success %></span>
                <% } %>
            <input type="text" name="name" value="<%= messages.name %>" placeholder="Name" />
            <input type="email" name="email"  value="<%= messages.email %>" placeholder="Email Address" />
            <input type="password" name="password" placeholder="Create Password" />
            <input type="password" name="cpassword" placeholder="Confirm Password" />
            <input type="submit" value="Sign Up" />
            <p class="signup">
              Already have an account ?
              <a href="/login">Sign in.</a>
            </p>
          </form>
        </div>
        <div class="imgBx"><img src="https://raw.githubusercontent.com/WoojinFive/CSS_Playground/master/Responsive%20Login%20and%20Registration%20Form/img2.jpg" alt="" /></div>
      </div>
    </div>
  </section>
<%- include('../../partials/footer') %>